.Act1Scene3 {
  background-image: linear-gradient(lightblue, black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bigImg {
  width: 90%;
}

.image {
  padding: 20px;
}

.text-2 {
  color: midnightblue;
  max-width: 500px;
  text-align: justify;
  hyphens: auto;
  padding: 20px;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 100px;
  max-width: 50%;
  background-color: green;
  z-index: 1; */
}

.pano {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.row-img {
  padding: 20px;
}

.img {
  max-height: 400px;
  min-height: 400px;
  min-width: 600px;
  max-width: 600px;
  /* 1244 */
}

.text-bright {
  color: silver;
  max-width: 500px;
  text-align: justify;
  hyphens: auto;
  padding: 20px;
}