.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans';
}

.title-content {
  background-image: linear-gradient(black, gray);
  /* background-position: top; */
  /* background-size: cover; */
  /* position: relative; */
  min-height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-size: 400px 400px; */
  background-image: url("https://i.imgur.com/F0COxv4.png");
  mix-blend-mode: overlay;
}

.title {
  color: white;
  font-size: 7em;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 500px;
}

.logline {
  color: white;
  text-align: justify;
  hyphens: auto;
  margin: 100px;
  font-size: 1.5em;
}